<div>
     <h1 class='text-center'>Say something!</h1>

    <%= form_tag("/answer", method: "get", class: "text-center") do %>
      <%= label_tag(:text, "Your answer:") %>
      <%= text_field_tag(:text) %>
      <%= submit_tag("Submit", class: "btn btn-primary") %>
    <% end %>

</div>


